
  .countWrapper {
    display: flex;
    background-color: bisque;
    align-items: center;
    padding: 2rem 1rem ;
  }
  
  .dynamicCountWrapper {
    display: flex;
    background-color: bisque;
    align-items: center;
    border-radius: 20px;
    
  
  }
  .numberCount {
    font-size: 50px;
  }
  
  
  