.card-data-show {
    border-color: black;
    width: 80%;
    margin: 0.5rem auto  ;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    
}
.data-show-control {
    display: flex;
    font-weight: bold;
    font: inherit;
    justify-content: space-evenly;
    padding: 0.5rem auto;
    margin: 0.3rem auto;

}

table, th, td, tr{
    border-radius: 0.2rem;
    border: 1px solid black;
    border-collapse: collapse separate !important;
    width: 80%;
    padding: 0.3rem;
    table-layout: fixed;
}
th, td, tr{
    border-radius: 0.2rem;
    border: 1px solid black;
    border-collapse: collapse separate !important;
    width: 80%;
    padding: 0.3rem;
    table-layout: fixed;
    background-color: bisque;
}

.button-edit {
    border-radius: 5px;
    background-color: aqua;
}


