
.form-data-control-wrapper {
    
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* margin-bottom: 1rem auto; */
    text-align: left;
   
}

.form-data-control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.form-data-control input {
    font: inherit;
    padding: 0.5rem;
    width: 20rem;
    border-radius: 4px;
    
}

.form-data-control button {
    text-align: right;
}