.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #a52a2a;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10 ;
    box-shadow: 0 1px 8px black;
    /* z-index ??????? */
    /* 
        0: at lowest level
        1: on top of 0
        2: on top of 1
    */
    z-index: 10;
}

.mainImage {
    width: 100%;
    height: 25rem;
    z-index: 1;
    overflow: hidden;
}

/* implement mainImage class into img
    which inside div
*/
.mainImage img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-4rem) translate(-1rem);
}