.btnStyle {
    background-color: #af5454;
    border-radius: 4px;
    color: white;
    box-shadow: 0px 1px 8px black;
    padding: 1rem auto;
    cursor: pointer;
}

.btnStyle:focus {
    outline: none;
}

.btnStyle:hover,
.btnStyle:active {
    background-color: #a52a2a;
    border-color: #000000;
}