
.filter-year-wrapper {
    display: flex;
    box-shadow: 0 1px 8px black;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: bisque;
    margin-right: 6.5rem !important;
}

.filter-year-label {
    border-radius: 5px;
}



