.mainFrameForm {
    padding: 1rem;
    background-color: bisque;
}

label {
    width: 6rem;
    display: inline-block;
    text-align: right;
    margin: 0.4rem 1rem ;
}
input {

}

.buttonSubmit {
    /* width: 7rem; */
    width: 6rem;
    display: inline-block;
    margin: 0.4rem 1rem ;
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
}

.redBtnNotif {
    border-color: #eb2626;
}
